.button {
  align-self: flex-start;
  padding: 0.5rem 1rem;
  background-color: #189218;
  color: #f0fdf4;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
}

.button:hover {
  background-color: #166534;
}

.secondary {
  background-color: #1d4ed8;
  color: #f0f9ff;
}

.secondary:hover {
  background-color: #1e40af;
}
