.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background: #1f412d3f;
  border-radius: 10px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(30, 41, 59, 0.08);
  transition: background 0.2s;
  width: 100%;
}

.row:hover {
  background: #225523;
}

.avatar {
  aspect-ratio: 1/1;
  height: 100%;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  align-self: center;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 12px;
}

.sub {
  background: #267c4d6e;
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 10px;
  color: #d0d0d0;
}

.info {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  gap: 5px;
}

.title {
  color: #ffffff;
  font-weight: 700;
  text-align: start;
}
