.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #3f5443;
  border-radius: 1rem;
  background: #1f412d3f;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  max-width: 250px;
  border-radius: 0.5rem;
  object-fit: cover;
  align-self: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
  text-align: center;
}

.sub {
  color: #e0e0e0;
  font-size: 0.9rem;
  margin: 0.2rem 0;
}

@media (min-width: 768px) {
  .card {
    text-align: start;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
  }

  .image {
    align-self: flex-start;
  }

  .info {
    flex: 1;
  }

  .name {
    text-align: left;
  }
}
