.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
}

.backButton {
  align-self: flex-start;
  padding: 0.5rem 1rem;
  background-color: #189218;
  color: #f0fdf4;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
}

.backButton:hover {
  background-color: #166534;
}
