.mainDetails {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
}

.basicInfo {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.basicInfo p {
  margin: 0;
}

.name {
  font-weight: bold;
}
