.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #1f412d3f;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  color: #f0fdf4;
  gap: 0.25rem;
  text-align: center;
}

.image {
  width: 180px;
  height: 180px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.info {
  display: flex;
  flex-direction: column;

}

.name {
  font-weight: 700;
}

.sub {
  background: #267c4d6e;
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 10px;
  color: #d0d0d0;
}
